###############################################################################
### Build and Intermediate Build Directories
###############################################################################
[Bb]in/
[Oo]bj/


###############################################################################
### Visual Studio and Visual Studio Code Directories
###############################################################################
.vs/
.vscode/

###############################################################################
### OS Specific files
###############################################################################
.DS_Store
Thumbs.db